<html>
	<!-- Page Name -->
	<head>
		<title>Map Quest</title>
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<div class="format">
			{% if error_message != '' %}

                <p class = "message"> {{ error_message | safe }}</p>

            {% endif %}
		<!--<div class="title">Map Quest</div> -->
		  	<form action="/data" method="POST" >
		  	<!-- Input for Starting Location -->
		  	<div class="input-container ic1">
				<input
					id="starting_loc"
					class="input"
					type="text"
					value="{{starting_loc}}"
					placeholder="Starting Location"
					name="starting_loc"/>
				<div class="cut"></div>
				<label
					for="starting_loc"
					class="placeholder">Starting Location</label>
		  	</div>
		  	<!-- Input for Destination Location -->
		  	<div class="input-container ic2">
				<input
					id="destination_loc"
					class="input"
					type="text"
					value="{{destination_loc}}"
					placeholder="Destination Location"
					name="destination_loc"/>
				<div class="cut cut-cut"></div>
				<label
					for="destination_loc"
					class="placeholder">Destination</label>
		  	</div>
		  	<!-- Input for Unit Distance-->
		  	<div class="text-color">
				<label>Distance (Unit)</label>
				<div class="custom_select">
					<select name= "distance_unit">
						<option value="">Select</option>
						<option value="m">Meter</option>
						<option value="km">Kilometer</option>
						<option value="mi">Miles</option>
					</select>
				</div>
		  	</div>
		  	<!-- Input for Unit Trip Duration -->
		  	<div class="text-color">
				<label>Trip Duration (Unit)</label>
				<div class="custom_select">
					<select name="time_unit"> 
						<option value="">Select</option>
						<option value="s">Seconds</option>
						<option value="min">Minutes</option>
						<option value="hr">Hours</option>
					</select>
				</div>
		  	</div>
		  	<!-- Input for Unit Fuel Used -->
		  	<div class="text-color">
				<label>Fuel Used (Unit)</label>
				<div class="custom_select">
					<select name="volume_unit">
						<option value="">Select</option>
						<option value="l">Liter</option>
						<option value="gal">Gallon</option>
						<option value="bl">Barrel</option>
					</select>
				</div>
		  	</div>
		  	<!-- Input for Route Type -->
		  	<div class="text-color">
				<label>Route Type</label>
				<div class="custom_select">
					<select name = "route_type">
						<option value="">Select</option>
						<option value="Fastest">Fastest</option>
						<option value="Shortest">Shortest</option>
						<option value="Pedestrian">Pedestrian</option>
						<option value="Bicycle">Bicycle</option>
					</select>
				</div>
		  	</div>
		  	<!-- Input for Route to Avoid -->
		  	<div class="text-color">
				<label>Avoid Route</label>
				<div class="custom_select">
					<select name = "route_avoid">
						<option value="">Select</option>
						<option value="Limited Access Highway">Limited Access Highway</option>
						<option value="Toll Road">Toll Road</option>
						<option value="Ferry">Ferry</option>
						<option value="Unpaved">Unpaved</option>
						<option value="Approximate Seasonal Closure">Approximate Seasonal Closure</option>
						<option value="Country Border Crossing">Country Border Crossing</option>
						<option value="Bridge">Bridge</option>
						<option value="Tunnel">Tunnel</option>
						<option value ="None">None</option>
					</select>
				</div>
		  	</div>
		  	<button type="text" class="submit">SUBMIT</button>
			</form>
	  	</div>
    </body>
</html>